body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
}