body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "HexahonMap LineChart"
    "Panel ScatterPlot";
  }

  .LineChart {
    grid-area: LineChart;
  }

  .ScatterPlot {
    grid-area: ScatterPlot;
  }

  .HexagonMap {
    grid-area: HexagonMap;
  }

  .Panel {
    grid-area: Panel;
  }

  .tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
}